<div id="landingPage-container">
    <div id="landingPage-content">
        <span id="linkPort" routerLink="/portfolio"><i class="fa-solid fa-arrow-right"></i> Jump start your Portfolio</span>
        <h1 id="landingPage-title">Jump start your crypto portfolio</h1>
        <h3 id="landingPage-subtitle">Coinbase is the easiest place to buy and sell cryptocurrency. Sign up and get started today.</h3>
        <button class="btn btn-primary" routerLink="/register">Get Started</button>
    </div>
    <div id="landingPage-img">
        <img src="../../assets/img/landing.png" alt="">
    </div>
</div>